.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%);
    --Pastel-blue: hsl(228, 100%, 84%);
    --Light-blue: hsl(206, 94%, 87%);
    --Strawberry-red: hsl(354, 84%, 57%);

    /* ### Neutral */

    --Cool-gray: hsl(231, 11%, 63%);
    --Light-gray: hsl(229, 24%, 87%);
    --Magnolia: hsl(217, 100%, 97%);
    --Alabaster: hsl(231, 100%, 99%);
    --White: hsl(0, 0%, 100%);
}

.f-blue {
    color: var(--Marine-blue);
}

@font-face {
    font-family: ubuntu-b;
    src: url('./assets/fonts/Ubuntu-Bold.ttf');
    font-display: swap;
}

@font-face {
    font-family: ubuntu-m;
    src: url('./assets/fonts/Ubuntu-Medium.ttf');
    font-display: swap;
}

@font-face {
    font-family: ubuntu-r;
    src: url('./assets/fonts/Ubuntu-Regular.ttf');
    font-display: swap;
}

body,
ul,
p,
h1,
h2,
h3 {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

button,
input,
label {
    font: inherit;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.none {display: none !important;}
.yearly {display: none;}

/* ----------- ------------- ------------ */
/* ----------- ------------- ------------ */
/* ----------- Global Styles ------------ */
/* ----------- ------------- ------------ */
/* ----------- ------------- ------------ */

body {
    font-family: ubuntu-r;
    line-height: 1.5;
    min-height: 100vh;
    color: var(--Cool-gray);
    background-color: var(--Magnolia);
}

h2 {
    font-size: 2rem;
    line-height: 1.8;
    font-family: ubuntu-b;
    color: var(--Marine-blue);
}

main {
    display: grid;
    width: min(58.5rem, 100%);
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-image: url('./assets/images/bg-sidebar-mobile.svg');
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
}


form,
section:not(.steps) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    padding: .5em 1em;
    border: 1px solid var(--Light-gray);
    border-radius: .3rem;
    margin-top: .3em;
}

.container {
    width: min(90%, 450px);
    padding: 1.3rem 1.3rem 2rem;
    margin-bottom: 1rem;
    background-color: var(--White);
    border-radius: .8em;
}

.container>p {
    max-width: 35ch;
}

.container-buttons {
    display: flex;
    width: 100%;
    border-radius: 0;
    margin-block: auto 0;
    padding: 1.3rem;
}


/* -------------- -------------- ------------ */
/* -------------- Step Indicator ------------ */
/* -------------- -------------- ------------ */

.steps {
    display: flex;
    justify-content: center;
    gap: 1rem;

    color: var(--White);
    padding: 2rem 2rem 1.5rem;
    margin-inline: auto;
    border-radius: .8rem;
    background-color: transparent;
}

.step-indicator p:first-child {
    grid-area: 1 / 1 / -1 / 2;

    display: grid;
    place-items: center;
    width: 2.1rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid var(--Light-gray);
}

.step-indicator p:not(:first-child) {
    display: none;
    text-transform: uppercase;
}

.step-indicator p:nth-child(2) {
    color: var(--Pastel-blue);
    font-size: .8rem;
    line-height: 1.2;
}

.step-indicator p:last-child {
    font-weight: 500;
}

.step-indicator.active :first-child {
    background-color: var(--Light-blue);
    color: var(--Marine-blue);
}

/* --------- ---------------- ----------  */
/* --------- Avilable Options ----------  */
/* --------- ---------------- ----------  */

.options-wrapper {
    display: grid;
    gap: 1rem;
    margin-block: 2rem;
}

.option {
    display: grid;
    /* flex-direction: row-reverse; */
    /* Woaw SO if flex is reverse the flex-start and flex-end also get reversed */
    /* justify-content: start; */
}

.option span:first-of-type {
    font-weight: 600;
    color: var(--Marine-blue);
}

.option label {
    display: flex;
    flex-direction: column;
}

:is(.add-ons,.plans,.plan-type) label {cursor: pointer;}

.error {
    color: red;
    font-weight: 500;
}


/* -------- ----------- ----------- */
/* -------- Buttons styles ----------- */
/* -------- ----------- ----------- */

.container-buttons button {
    display: flex;
    border: transparent;
    border-radius: .6rem;
}

.back {
    color: var(--Cool-gray);
    padding-block: .5em;
    padding-inline: 0;
    background-color: transparent;
}

.next {
    margin-left: auto;
    padding: .7em 1.6em;
    color: var(--White);
    background-color: var(--Marine-blue);
}

/* ----------------------------------------- */
/* --------- User Info Section ------------- */
/* ----------------------------------------- */

.user-info label {
    justify-content: space-between;
    flex-direction: row;
}

/* ----------- ------------- --------------- */
/* ----------- ------------- --------------- */
/* ----------- Plans Section --------------- */
/* ----------- ------------- --------------- */
/* ----------- ------------- --------------- */

.plans input:checked + label {
    border-color: var(--Purplish-blue);
}

.plans .option {
    grid-template-columns: 2rem 1fr;
    align-items: center;
    column-gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--Light-gray);
    border-radius: .4rem;
}

.plans .option > img {
    grid-area: 1 / 1 / 3 / 2;
}

.plans span:last-of-type {
    font-size: .7rem;
}

@media (min-width:45rem) {
    .plans {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }

    .plans .option {
        grid-template-columns: auto;
        grid-auto-flow: row;
        padding: 1rem;
        border: 1px solid var(--Light-gray);
        border-radius: .4rem;
    }

    .plans img {
        grid-area: auto;
        margin-bottom: clamp(1rem, 2vw, 2rem);
    }
}

/* ---------------------------------------- */
/* ---------- Toggle Plan type ---------------------- */
/* ------------------------------------ */

.plan-type {
    position: relative;
    background-color: var(--Magnolia);
    padding: .7em;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;
}

label[for="monthly"]::after{
    content: '';
    inset: 50% auto auto calc(50% + 1px);
    position: absolute;
    aspect-ratio: 1;
    border-radius: 50%;
    width: .8rem;
    background-color: var(--White);
    translate: 55% -50%;
}

input#monthly:checked + label::after {
    translate: -55% -50%;
}
.plan-type input {
    border: none;
    appearance: none;
    background-color: rebeccapurple;
    background-color: var(--Marine-blue);
    width: 1.4rem;
    aspect-ratio: 1;
    margin: 0;
    padding: 0;
}

input#monthly {
    grid-column: 2;
    margin-inline: 1rem 0;
    border-radius: 50% 0 0 50%;
}

input#yearly {
    grid-column: 3;
    margin-inline: 0 1rem;
    border-radius: 0 50% 50% 0;
}

/* ---------- ------- -------------- */
/* ---------- Add Ons Section-------------- */
/* ---------- ------- -------------- */

.add-ons {margin-bottom: 0;}
.add-ons .option>* {grid-area: 1 / 1 / 3 / 2;}

.label-text {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr min-content;
    padding: 1rem 1rem 1rem 4rem;
    border: 1px solid var(--Light-gray);
    border-radius: .4rem;
}

.label-text :nth-child(2) {line-height: 1.2;}
.label-text :last-child {
    grid-area:  1 / 2 / 3 / 3;
}

[data-plan],
[data-planType] {
    text-transform: capitalize;
}

.add-ons input {
    width: 1rem;
    margin-left: 1.7rem;
    aspect-ratio: 1;
    justify-self: start;
    align-self: center;
}

.final-result.options-wrapper {
    display: flex;
    flex-direction: column;

    padding: 1.5rem;
    border-radius: .8rem;
    margin-bottom: 0;
    background-color: var(--Magnolia);
}

.purchase {
    display: flex;
    justify-content: space-between;
}

.purchase :last-child {color: var(--Marine-blue);}

.purchase-plan {
    display: grid;
    grid-template-columns: 1fr min-content;
    font-weight: 600;
    color: var(--Marine-blue);
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--Cool-gray);
}
.change {
    font-weight: 400;
    font-size: .8em;
    color: var(--Cool-gray);
}

.total {padding: 1.5rem;}
.total p:last-child {
    color: var(--Purplish-blue);
    font-weight: 700;
    font-size: 1.2rem;
}



.success {
    display: flex;
    flex-direction: column;
    padding-block: 3rem;
    text-align: center;
    align-items: center;
}

/* --------- ------ ----------- */
/* --------- Global + Mix ----------- */
/* --------- ------ ----------- */

@media (min-width:45rem) {
    body {
        display: grid;
        place-items: center;
        grid-template-rows: 1fr auto;
    }

    main {
        min-height: auto;
        grid-template-rows: auto;
        grid-template-columns: minmax(auto, 17.5rem) minmax(60%, 40rem);
        padding: 1rem;
        border-radius: .8rem;
        width: min(60rem, 90%);
        min-height: min(37rem,80%);
        background: none;
        background-color: var(--White);
    }

    .container {
        width: min(450px, 90%);
        padding: 0;
    }
    .container>p {max-width: 100%;}
    .options-wrapper {margin-block: clamp(1rem,.5rem + 2vw, 2rem);}

    form,
    section:not(.steps) {
        padding-top: clamp(.5rem, 2vw, 2rem);
    }

    .steps {
        gap: 2rem;
        flex-direction: column;
        justify-content: start;
        
        margin-inline: 0;
        padding: 2.3rem 2rem;
        background-image: url('./assets/images/bg-sidebar-desktop.svg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    .step-indicator p:not(:first-child) {
        display: block;
    }

    .step-indicator {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        column-gap: 1rem;
        align-items: center;
    }
}